:root {
    --text: #230252;
    --faded: #5459a0;
    --highlight: #2020e4;
    --block: #badbff;
    --background: #acb5fb;
    --background-trans: #acb5fbee;
}

html {
    background: var(--block);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: center;
    color: var(--text);
}

img {
    border: 1px solid var(--text);
    border-radius: 8px;
    max-width: 250px;
}

a {
    text-decoration: none;
}

main {
    background: var(--background);
    padding: 30px;
}

p {
    margin-top: 0;
    margin-bottom: 35px;
}

.always {
    display: flex;
}

.hide-small {
    display: none;
}


@media only screen and (orientation: landscape) and (min-width: 768px) {
    .columns {
        display: flex;
        justify-content: space-around;
    }

    main {
        padding: 30px 15%;
    }

    .hide-small {
        display: flex;
    }

    .hide-large {
        display: none;
    }
}