.info {
    margin-left: 5%;
    text-align: left;
}

.info p {
    margin: 8px auto;
}

.spotlight {
    max-width: 400px;
}

.dense {
    margin: 10px auto;
}


@media only screen and (orientation: landscape) and (min-width: 768px) {
    img {
        max-width: 90%;
    }
}