#info {
    text-align: center;
    position: absolute;
    border: 2px solid var(--text);
    border-radius: 10px;
    background: var(--background-trans);
    width: calc(100% - 60px);
}

#close {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 3em;
    cursor: pointer;
}

#info.text-block {
    text-align: left;
}

.spotlight {
    max-width: 400px;
}

.dense {
    margin: 10px auto;
}


@media only screen and (orientation: landscape) and (min-width: 768px) {
    #info {
        width: 70%;
    }
}