#list {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#list .text-block {
    text-align: center;
    margin: 10px;
}

#list img {
    max-height: 150px;
    margin: auto 0;
    margin-left: 8%;
}

#list div:first-child {
    cursor: pointer;
}


@media only screen and (orientation: landscape) and (min-width: 768px) {
    /*
    #list .text-block {
        width: calc((100% / 2) - 68px);
    }
    */        

    #list .always {
        justify-content: left;
    }
}