#list {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
}

#list .text-block {
    margin: 10px;
}

#list :not(#info) .text-block {
    text-align: center;
}

#add {
    background: var(--block);
    color: var(--text);
    border-radius: 3px;
    font-size: 1em;
    margin-left: 10px;
    cursor: pointer;
}

.info {
    margin-left: 5%;
    text-align: left;
}

.info p {
    margin: 8px auto;
}

#list :not(#info) img {
    max-height: 150px;
    margin: auto 0;
    margin-left: 8%;
}


@media only screen and (orientation: landscape) and (min-width: 768px) {
    /*
    #list .text-block {
        width: calc((100% / 2) - 68px);
    }
    */        

    #list .always {
        justify-content: left;
    }
}