.text-block {
    width: 90%;
    margin: 40px auto;
    background: var(--block);
    padding: 20px;
    border: 2px solid var(--text);
    border-radius: 10px;
    text-align: left;
}

.options {
    width: fit-content;
}

.option {
    width: 28px;
    height: calc(50% - 58px);
    margin: 10px;
    margin-left: 0;
}

.option h1 {
    margin: 0;
}

#polyhedron {
    width: 100%;
    cursor: pointer;
}

.text-block li {
    margin: 10px;
}

.faded {
    color: var(--faded);
    padding: 4px 8px;
}